extends layout

block nav-content
  li.active
    a(href='/') Home
  li
    a(href='/new') Add Location
  li
    a(href='/newCategory') Add Category

block content
  h1 Check into a location!
  div(class="locationList")
    each loc in locations
      button(class="check-in", name="#{loc.value}") Check in here!
      address(id="#{loc.name}", class="location")
        strong #{loc.name}  
        strong
          category [ #{loc._cat.label} ]
        br
        | #{loc.address}
